<div ng-cloak>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="100" layout="column">
            <form name="dForm" role="form" ng-controller="PersonaSaveCtrl">
                <md-card>
                    <md-card-header>
                        <md-card-header-text>
                            <span class="md-headline">Nuevo Cargo </span>
                            <span class="md-subhead">Formulario de Cargo</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Nombre </label>
                                <input name="cargo" ng-model="persona.nombre" required>
                                <div ng-messages="dForm.persona.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Apellido Paterno </label>
                                <input name="apellido_paterno" ng-model="persona.apellido_paterno" required>
                                <div ng-messages="dForm.persona.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Apellido Materno </label>
                                <input name="apellido_materno" ng-model="persona.apellido_materno" required>
                                <div ng-messages="dForm.persona.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm ng-if="persona.id">
                                <label> Estado </label>
                                <md-switch ng-model="persona.estado" aria-label="Estado">
                                </md-switch>
                            </md-input-container>
                        </div>

                    </md-card-content>
                    <md-divider></md-divider>
                    <md-card-actions layout="row" layout-xs="column" layout-align="start center">
                        <md-card-icon-actions>
                            <md-button class="md-icon-button" aria-label="toggle">
                                <md-icon md-svg-icon="md-toggle-arrow"></md-icon>
                            </md-button>
                        </md-card-icon-actions>
                        <md-button type="reset" ng-click="cancel()" class="md-raised">Cancel</md-button>
                        <md-button type="submit" ng-click="save()" class="md-raised md-primary">
                            <span ng-show="persona.id == null">Create</span>
                            <span ng-show="persona.id">Update</span>
                        </md-button>
                    </md-card-actions>
                </md-card>
            </form>
        </div>
    </md-content>
</div>